.Notecard{
    display: flex;
    align-items: center;
    margin: 10px 30px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    margin-top: 50px;
    background-color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    width: 70%;
    justify-content: start;
}
.NotecardConatiner{
    display: flex;
    align-items: center;
    justify-content: center;

}
.Notecard_emoji
{
    margin-right: 45px;

}
.NotecardDis{
    margin: 0px;
    padding: 2px;

}
.Notecardtitle
{
    margin: 0px;
    padding: 3px;
    font-weight:600;
    font-family:'Times New Roman', Times, serif


}
.NotecardCatrgory
{
    margin: 0px;
    font-size: 25px;
    padding: 2px;
    font-weight:400;

}
.notcardDiscription
{
    margin: 0px;
    font-weight:400;
    padding: 2px;
}