.Notecard{
    display: flex;
    align-items: center;
    margin: 10px 30px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    margin-top: 50px;
    background-color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    width: 30%;
    justify-content: start;
    position: relative;
}
.NotecardContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    
    

}
.Notecard_emoji
{
    margin-right: 45px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 2px 1px gray;


}
.NotecardDis{
    margin: 0px;
    padding: 2px;
   
}
.Notecardtitle
{
    margin: 0px;
    padding: 3px;
    font-weight:600;
    font-family:'Times New Roman', Times, serif;
}
.NotecardCategory
{
    margin: 0px;
    font-size: 22px;
    /* font-weight: 00; */
    color: rgb(46, 46, 46);
    padding: 2px;
    font-weight:600;
    position: absolute;
    top: 45px;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
    right: 10px;
    min-width: 70px;
    background-color:rgb(218, 212, 52);
    text-align: center;

}
.notcardDiscription
{
    margin: 0px;
    font-weight:400;
    padding: 2px;
}
.bg-study{
    background-color: rgba(54, 114, 218, 0.925);
    color: whitesmoke;
}
.bg-personal{
    background-color: rgba(0, 0, 0, 0.925);
    color: black;
}
.bg-treak{
    background-color: rgba(106, 212, 79, 0.925);
    color: black;
}
.bg-shopping{
    background-color: rgba(99, 228, 224, 0.925);
    color: black;
}
.bg-gym{
    background-color: rgba(209, 71, 177, 0.925);
    color: black;
}
.bg-travel{
    background-color: rgba(44, 187, 103, 0.925);
    /* color: whitesmoke; */
}