.Heading
{
   color: #232323;
   text-align: center;
}
.Heading span{
    color:#078080 ;
}
.Button_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.whyquciknotes{
    text-align: center;
  

}
.action_btn
{
    color: white;
    background-color: #078080;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 18px;
    height: 45px;
    width: 150px;
}
.action_btn:hover{
    box-shadow: 0px 0px 5px 1px gray;
    transition: 1ms ease-in;
}
